//@import "../node_modules/bootstrap/scss/_buttons.scss";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

#components-layout {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: #1890ff;
    }
  }

  .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
    color: #fff;
    
    h1{
      color: #fff;
      margin-left: -1px;
      margin-bottom: -1px;
    }
  }
}
